/* aladin-regular - latin */
@font-face {
    font-family: 'Aladin';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/aladin-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/aladin-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* amatic-sc-regular - latin */
@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/amatic-sc-v24-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/amatic-sc-v24-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* bebas-neue-regular - latin */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/bebas-neue-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/bebas-neue-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* monoton-regular - latin */
@font-face {
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/monoton-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/monoton-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* press-start-2p-regular - latin */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/press-start-2p-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/press-start-2p-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* rubik-glitch-regular - latin */
@font-face {
    font-family: 'Rubik Glitch';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/rubik-glitch-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rubik-glitch-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* special-elite-regular - latin */
@font-face {
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/special-elite-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/special-elite-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    width: 100%;
    max-width: 100%;
} 

body { 
    background: #FAF9F6; 
    color: #000000; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px; 
}

.container {
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
    font-weight: 100;
  }

.logo{
    font-size: 5em;
    height: 65px;
    line-height: 65px;
}

.nav{
    border-top: 1px solid;
    margin-top: 10px;
    padding-top: 5px;
}

.nowshowing{
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

a, a:visited{
    color:#000000;
    border-top: 1px solid;
    padding-top: 5px;
    text-decoration: none;
}

a:hover,a:focus{
    font-weight: bold;
}
